# Generic
alias l="ls -G"
alias ls="ls -G"
alias unproxy="unset http_proxy https_proxy HTTP_PROXY HTTPS_PROXY"

# git
alias g="git"

# Grunt
alias gb="grunt build"
alias gs="grunt serve"
alias gd="grunt deploy"

# MongoDB
alias mongod="mongod --dbpath /var/db/mongo"

# Ruby on Rails
alias r="rails"
alias b="bundle"
alias bu="bundle update"
alias mi="rake db:migrate && RAILS_ENV=test rake db:migrate"

# Vagrant
alias va="vagrant"

# docker
alias dc="docker"

# Firefox OS
alias fxos="adb forward tcp:6000 localfilesystem:/data/local/debugger-socket && adb forward tcp:2828 tcp:2828"
