# Generic
alias ls="ls -G"
alias unproxy="unset http_proxy https_proxy HTTP_PROXY HTTPS_PROXY"

# git
alias g="git"

# Grunt
alias gb="grunt build"
alias gs="grunt server"

# MongoDB
alias mongod="mongod --dbpath /var/db/mongo"

# Ruby on Rails
alias r="rails"

# Vagrant
alias va="vagrant"
