[credential]
	helper = osxkeychain
[user]
	name = Ikuo Terado
	email = eqobar@gmail.com
[push]
	default = simple
[color]
	ui = true
[alias]
	co = checkout
	s = status
	c = commit -m
	a = add
	d = diff
[pager]
        log = diff-highlight | less
        show = diff-highlight | less
        diff = diff-highlight | less
[core]
	editor = subl -n -w
[merge]
	ff = false
