[credential]
	helper = osxkeychain
[user]
	name = Ikuo Terado
	email = eqobar@gmail.com
[push]
	default = simple
[color]
	ui = true
[alias]
	co = checkout
	s = status
	c = commit -m
	a = add
	d = diff
